/* Modo oscuro */

body{
    background:#eef8f1;
    color:#000;
    transition:.4s;
}

body.claro{
    background:#121212;
    color:white;
}

/* Encabezado */

body.claro .encabezado{
    background:#222;
}

/* Tarjeta */

body.claro .card{
    background:#1f1f1f;
    color:white;
}

/* Pie */

body.claro .pie{
    background:#222;
}

/* Enlaces */

body.claro nav a{
    color:white;
}

/* Botón Bootstrap */

body.claro .btn-success{
    background:#43a047;
    border-color:#43a047;
}